@media screen and (max-width: 414px) {
    .productInfo-section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-container{
        width: 100%;
    }

    .productInfo-container{
        width: 100%;
    }
    
    .category-section{
        padding: 0;
    }
}