@font-face {
    font-family: 'Everyday-sans';
    src: url('./assets/fonts/HelveticaNeueHeavy.otf') format('otf'),
         url('./assets/fonts/HelveticaNeueHeavyItalic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

/* =====================================header ===================================== */

header {
    position: sticky;
    top: 0;
    z-index: 1;
    
    /* font-family: 'Everyday-sans',; */
}

.top-nav {
    height: 84px;
    padding: 16px 24px;
    background: #0053e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuBar{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.logo img {
    margin: 0 10px 0 0;
    width: 36px;
    cursor: pointer;
}

.deliveryBox {
    padding: 10px;
    width: 314px;
    height: 52px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #002e99;
    border-radius: 30px;
}

.deliveryBox img {
    width: 36px;
    cursor: pointer;
}

.deliveryBox-info {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.search-wrapper {
    display: flex;
    background: #fff;
    width: 588px;
    height: 52px;
    border-radius: 30px;
}

.search-wrapper input {
    width: 90%;
    height: 100%;
    padding-left: 3%;
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
    border: none;
}

.search-wrapper button {
    width: 10%;
    border: none;
    /* border-radius: 50%; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.myitemBox {
    width: 113px;
    height: 52px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.myitemBox div {
    display: flex;
    flex-direction: column;
}

.myitemBox .myItemDropDown{
    position: absolute;
    visibility: hidden;
    top: 54px;
    width: 100%;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 1px grey;
}

.myitemBox:hover{
    background-color:  #002e99;
}

.myitemBox:hover .myItemDropDown{
    visibility: visible;
}

.accountBox, .cartBox {
    gap: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/* ===================== Mid nav====================== */

.mid-nav{
    height: 48px;
    padding: 0 24px;
    background: #F0F5FF;
    display: flex;
    align-items: center;
    gap: 10px;
}

.depart-btn, .service-btn, .more-btn{
    /* width: 161px; */
    height: 32px;
    padding: 6px 12px;
    outline: none;
    border: none;
    background: none;
    color: #001E60;
    cursor: pointer;
}

.depart-btn:hover, .service-btn:hover, .more-btn:hover{
    border-radius: 100px;
    border: 1px solid #d4d4d4;
}

.line-stick{
    width: 19px;
    height: 20px;
    padding: 0 8px;
    color: #0053E2;
    /* border: 1px solid #0053E2; */
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 400;
}

.mid-nav-a{
    height: 20px;
    padding: 0 8px;
    text-decoration: none;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 400;
    color: #001E60;
    cursor: pointer;
}

.mid-nav-a:hover{
    text-decoration: underline;
}

.min-nav-dropDown{
    display: flex;
    align-items: center;
}
/* ========================================= Main ==================================================== */

.sideBar{
    width: 320px;
    height: 600px;
    padding: 0 20px;
    border-right: 1px solid gray;
}

.side-top{
    position: sticky;
    top: 70px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    background: #fff;
}

.side-top span{
    background-color: #0053e2;
    padding: 10px 10px;
    border-radius: 20px;
    color: #fff;
}

.product-section{
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 6px;
    color: #000;
    text-decoration: none;
}

.product-wrapper{
    position: relative;
    padding: 10px;
    width: 185px;
    /* background-color: #dbd9d988; */
    border: 1px solid rgb(235, 232, 232);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(212, 208, 208);
}

.product-wrapper:hover{
    background: rgba(255, 0, 0, 0.062);
}

.product-wrapper a{
    color: #000;
    text-decoration: none;
}

.wrapper-img{
    width: 160px;
}

.wish-btn{
    position: absolute;
    right: 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.wish-btn-change{
    color: red;
}

.cart-btn{
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #fff;
    color: #000000;
    text-decoration: none;
}


footer{
    height: 326px;
    padding-top: 28px;
}

.footer-top-section{
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E9F1FE;
}

.footer-cover-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 144px;
    padding: 24px 0;
}

.footer-top-section p{
    width: 270px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 16px;
}

.footer-cover-div button{
    width: 143px;
    height: 40px;
    padding: 0 24px;
    border-radius: 100px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}

.footer-mid-section{
    /* height: 103px; */
    padding: 16px 59px 24px 59px;
    background: #002E99;
    text-align: center;
}

.footer-a{
    margin: 10px 13px;
    height: 21px;
    font-size: 12px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.footer-bottom-section{
    height: 51px;
    padding: 8px 0 28px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    background: #002E99;
    color: #ffffff;
}