* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =====================================header ===================================== */

header {
    background: #0053e2;
}

.top-nav {
    padding: 10px 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuBar{
    display: none;
    width: 20px;
    cursor: pointer;
}

.logo img {
    margin-left: 10px;
    width: 30px;
    cursor: pointer;
}

.deliveryBox {
    padding: 10px;
    width: 314px;
    height: 52px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #002e99;
    border-radius: 30px;
}

.deliveryBox img {
    width: 36px;
    cursor: pointer;
}

.deliveryBox-info {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.search-wrapper {
    display: flex;
    background: #fff;
    width: 588px;
    height: 52px;
    border-radius: 30px;
}

.search-wrapper input {
    width: 90%;
    height: 100%;
    padding-left: 3%;
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
    border: none;
}

.search-wrapper button {
    width: 10%;
    border: none;
    /* border-radius: 50%; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.myitemBox {
    width: 113px;
    height: 52px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.myitemBox div {
    display: flex;
    flex-direction: column;
}

.myitemBox .myItemDropDown{
    position: absolute;
    visibility: hidden;
    top: 54px;
    width: 100%;
    padding: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 1px grey;
}

.myitemBox:hover{
    background-color:  #002e99;
}

.myitemBox:hover .myItemDropDown{
    visibility: visible;
}

.accountBox, .cartBox {
    gap: 5px;
    color: #fff;
    cursor: pointer;
}

/* ========================================= Main ==================================================== */

main{
    display: flex;
    position: relative;
}

aside{
    width: 400px;
    box-shadow: 1px 1px 1px rgb(212, 208, 208);
    border-right: 1px solid rgb(212, 208, 208);
}

#sideBar{
    display: none;
}

.product-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: #000;
    text-decoration: none;
}

.product-wrapper{
    width: 185px;
    /* height: 300px; */
    border: 1px solid rgb(235, 232, 232);
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgb(212, 208, 208);
}

.product-wrapper:hover{
    background: rgba(255, 0, 0, 0.062);
    /* transform: rotateY(180deg) */
}

.wrapper-img{
    width: 180px;
}